<a href="https://colab.research.google.com/github/edogriba/SMBUD-2024/blob/main/DataWrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Systems and Methods for Big Data Project 2024

Edoardo S. Gribaldo

In [13]:
import pandas as pd
import numpy as np

In [16]:
!unzip Airline_review.csv.zip

Archive:  Airline_review.csv.zip
  inflating: Airline_review.csv

In [17]:
df = pd.read_csv('Airline_review.csv')
df.head()

,Unnamed: 0,Airline Name,Overall_Rating,Review_Title,Review Date,Verified,Review,Aircraft,Type Of Traveller,Seat Type,Route,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money,Recommended
0,0,AB Aviation,9,"""pretty decent airline""",11th November 2019,True,Moroni to Moheli. Turned out to be a pretty ...,NaN,Solo Leisure,Economy Class,Moroni to Moheli,November 2019,4.0,5.0,4.0,4.0,NaN,NaN,3.0,yes
1,1,AB Aviation,1,"""Not a good airline""",25th June 2019,True,Moroni to Anjouan. It is a very small airline...,E120,Solo Leisure,Economy Class,Moroni to Anjouan,June 2019,2.0,2.0,1.0,1.0,NaN,NaN,2.0,no
2,2,AB Aviation,1,"""flight was fortunately short""",25th June 2019,True,Anjouan to Dzaoudzi. A very small airline an...,Embraer E120,Solo Leisure,Economy Class,Anjouan to Dzaoudzi,June 2019,2.0,1.0,1.0,1.0,NaN,NaN,2.0,no
3,3,Adria Airways,1,"""I will never fly again with Adria""",28th September 2019,False,Please do a favor yourself and do not fly wi...,NaN,Solo Leisure,Economy Class,Frankfurt to Pristina,September 2019,1.0,1.0,NaN,1.0,NaN,NaN,1.0,no
4,4,Adria Airways,1,"""it ruined our last days of holidays""",24th September 2019,True,Do not book a flight with this airline! My fr...,NaN,Couple Leisure,Economy Class,Sofia to Amsterdam via Ljubljana,September 2019,1.0,1.0,1.0,1.0,1.0,1.0,1.0,no

In [21]:
df.dtypes

Unnamed: 0                  int64
Airline Name               object
Overall_Rating             object
Review_Title               object
Review Date                object
Verified                     bool
Review                     object
Aircraft                   object
Type Of Traveller          object
Seat Type                  object
Route                      object
Date Flown                 object
Seat Comfort              float64
Cabin Staff Service       float64
Food & Beverages          float64
Ground Service            float64
Inflight Entertainment    float64
Wifi & Connectivity       float64
Value For Money           float64
Recommended                object
dtype: object

In [18]:
print(df.isnull().sum())

Unnamed: 0                    0
Airline Name                  0
Overall_Rating                0
Review_Title                  0
Review Date                   0
Verified                      0
Review                        0
Aircraft                  16042
Type Of Traveller          3738
Seat Type                  1096
Route                      3828
Date Flown                 3754
Seat Comfort               4155
Cabin Staff Service        4260
Food & Beverages           8671
Ground Service             4793
Inflight Entertainment    12342
Wifi & Connectivity       17251
Value For Money            1066
Recommended                   0
dtype: int64

In [19]:
print(df.dtypes == 'bool')

Unnamed: 0                False
Airline Name              False
Overall_Rating            False
Review_Title              False
Review Date               False
Verified                   True
Review                    False
Aircraft                  False
Type Of Traveller         False
Seat Type                 False
Route                     False
Date Flown                False
Seat Comfort              False
Cabin Staff Service       False
Food & Beverages          False
Ground Service            False
Inflight Entertainment    False
Wifi & Connectivity       False
Value For Money           False
Recommended               False
dtype: bool

In [22]:
df.loc[df["Verified"] == True, "Verified"] = "true"
df.loc[df["Verified"] == False, "Verified"] = "false"

<ipython-input-22-f454aee13829>:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'true' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.loc[df["Verified"] == True, "Verified"] = "true"

In [23]:
df["Review Date"] = pd.to_datetime(df["Review Date"], format="%dth %B %Y", errors="coerce")

In [24]:
df.dtypes
df['Review Date']

0       2019-11-11
1       2019-06-25
2       2019-06-25
3       2019-09-28
4       2019-09-24
           ...
23166   2022-07-05
23167          NaT
23168          NaT
23169          NaT
23170   2022-05-20
Name: Review Date, Length: 23171, dtype: datetime64[ns]

In [25]:
df.to_csv("output.csv", index=False)